<?xml version="1.0"?>
<robot name="vertical_contact_probe">
  <link name="world"/>
  <link name="probe_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.25"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <collision name="tip_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
  </link>
  <joint name="vertical_slide" type="prismatic">
    <parent link="world"/>
    <child link="probe_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0" upper="2" effort="100" velocity="5"/>
  </joint>
</robot>
